body {
    margin-top: 2em;
    /*direction: rtl;*/
    background: #f0f0f0;
    font-family: alef;
}
#main {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*max-width:700px;*/
}
.section {
    max-width: 320px;
    width: 100%;
    /*margin: 1em;*/
    border: 1px solid #f8f9fc;
    border-radius: 5px;
    /*padding:0.4em 0;*/
    background:white;
}

details > label:first-of-type {
    margin-right: 40px;
}

details label > input {
    margin-left: 5px;
    margin-right: 25px;
}

#classSelector input[type=checkbox] {
    margin-left: 5px;
}

#allCon {
    padding: 0.5em 0 0.9em 0;
}

.slot {
    margin: 0.1em auto;
    /*background: #f0efed;*/
    border-radius: 5px;
    width: 95%;
    padding-bottom: 0.5em;
}
    .slot:hover {
        background: #f8f9fc;
    }

summary {
    padding-top: 0.5em;
    margin: 0 15px 0.5em 1em;
}
#msgPan {
    /*padding: 1em;*/
    background: #f0ffea;
}
.sectionTitle {
    background: white;
    padding: 0.5em;
    font-weight: bold;
    border-bottom: 1px solid #f8f9fc
}
    #msgPan *:not(:first-child) {
        margin: 1em 0.8em 0 0;
    }
#msg {
    width: 80%;
    border-color: #f8f9fc;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: alef;
    padding:8px;
}
.button {
    border: 1px solid lightgray;
    border-radius: 5px;
    background: #f8f9fc;
    padding:0.2em 0.5em;
    cursor:pointer;
}
    .button:hover {
        filter: brightness(90%);
    }