:root {
    --bg-color: #eafeff;
}
body {
    background: #f2f2f2;
    font-family: alef;
    max-width: 800px;
    margin: 1em auto;
}

.pageTitle {
    background: white !important;
    /*background: #fdfcfc !important;*/
    padding: 0.6em 0 !important;
}

#main {
    /*margin: 0 1em;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*max-width:700px;*/
    /*background: #f0ffea;*/
    background: var(--bg-color);
    border: 1px solid #eee;
    padding-bottom: 3px;
}

.section {
    /*margin: 0 9px;*/
    /*border: 1px solid #eee;*/
    border-radius: 5px;
    /*padding:0.4em 0;*/
    /*background:white;*/
    /*background: #f0ffea;*/
/*    border-bottom: 9px solid transparent;
    border-image: linear-gradient(to bottom, var(--bg-color)99%, #95c9cc 100%) 4;*/
}

.sectionTitle {
    /*background: white;*/
    padding: 1em 0.5em;
    font-weight: bold;
    /*border-bottom: 1px solid #f8f9fc;*/
    font-size: 1.2em;
    text-align: center;
}

details > label:first-of-type {
    margin-right: 40px;
}

details label > input {
    margin-left: 5px;
    margin-right: 25px;
}

details label:last-of-type {
    padding-left: 20px;
}

#classSelector input[type=checkbox] {
    margin-left: 5px;
}

#allCon {
    padding: 0.5em 0 0.9em 0;
}

.slot {
    margin: 0.1em 5px;
    /*background: #f0efed;*/
    border-radius: 5px;
    min-width: 300px;
    padding-bottom: 0.5em;
    padding-left: 10px;
    white-space: nowrap;
}

    .slot:hover {
        /*background: #e4f4de;*/
        background: #daf1f4;
    }

summary {
    padding-top: 0.5em;
    margin: 0 15px 0.5em 1em;
}

#msgPan {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sendCon {
    margin-top:9px;
    display: flex;
    justify-content: flex-end;
    /*justify-content: space-between;*/
    width: 100%;
}


#msg {
    width: 100%;
    border-color: #f8f9fc;
    border-radius: 5px;
    /*letter-spacing: 1px;*/
    font-family: alef;
    padding: 8px;
    height: 150px;
    /*margin: 0 auto;*/
    /*display: block;*/
    box-sizing: border-box;
}

.button {
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    background: #b5dff0;
    padding: 0.2em 0.5em;
    cursor: pointer;
    margin-right:4px;
}

    .button:hover {
        filter: brightness(105%);
        border-color:white;
    }

#linkList {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}
    #linkList a {
        color: gray;
        text-decoration: none;
        padding: 0.5em;
    }
        #linkList a:hover {
            text-shadow: 1px 1px 1px #ffdfdf;
        }

dialog {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 1em;
}

    dialog .sendCon {
        text-align: center;
    }

    dialog input {
        border-radius: 5px;
        padding: 4px;
    }

    dialog::backdrop {
        background: rgba(0,0,0,0.6);
    }

#emojiModel{
    max-width:400px;
    margin:4em auto;
    position:relative;
}
    #emojiModel:after {
        content: "🗙";
        font-size: 1.5em;
        position: absolute;
        right: 20px;
        top: 7px;
        color: gray;
        font-weight: bold;
        /*background:white;*/
    }
/*#emojiModel .sectionTitle{
    position:sticky;
}*/
    #emojiModel div {
        text-align: center;
        padding: 0.5em;
        font-weight: bold;
        background: #f8f9fc;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        /*border-top:1px solid lightgray;*/
    }
    #emojiModel span {
        padding: 3px;
        /*margin: 3px;*/
        font-size: 1.1em;
        cursor: pointer;
    }
    #emojiModel span:hover {
        background: lightgray;
    }

@media all and (max-width:825px) {
    .section {
        width: 100%;
        max-width: 450px;
    }
}
