body {
    margin-top: 2em;
    /*direction: rtl;*/
    background: #eae6e6;
    font-family: alef;
}

#main {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*max-width:700px;*/
}

.section {
    /*margin: 1em;*/
    border: 1px solid #eee;
    border-radius: 5px;
    /*padding:0.4em 0;*/
    /*background:white;*/
    background: #f0ffea;
}
.sectionTitle {
    background: white;
    padding: 0.5em;
    font-weight: bold;
    /*border-bottom: 1px solid #f8f9fc;*/
    font-size: 1.2em;
}
details > label:first-of-type {
    margin-right: 40px;
}

details label > input {
    margin-left: 5px;
    margin-right: 25px;
}

details label:last-of-type {
    padding-left: 20px;
}

#classSelector input[type=checkbox] {
    margin-left: 5px;
}

#allCon {
    padding: 0.5em 0 0.9em 0;
}

.slot {
    margin: 0.1em 5px;
    /*background: #f0efed;*/
    border-radius: 5px;
    min-width: 300px;
    padding-bottom: 0.5em;
    padding-left: 10px;
    white-space: nowrap;
}

    .slot:hover {
        background: #e4f4de;
    }

summary {
    padding-top: 0.5em;
    margin: 0 15px 0.5em 1em;
}

#msgPan {
    max-width: 450px;
    width: 100%;
}

.sendCon {
    margin: 1em 0.8em;
}


#msg {
    width: 80%;
    border-color: #f8f9fc;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: alef;
    padding: 8px;
    height: 150px;
    margin: 1em 0.8em;
}

.button {
    border: 1px solid lightgray;
    border-radius: 5px;
    background: #f8f9fc;
    padding: 0.2em 0.5em;
    cursor: pointer;
    display: inline-block;
}

    .button:hover {
        filter: brightness(90%);
    }

dialog {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding:0 1em;
}
    dialog .sendCon {
        text-align: center;
    }
    dialog input {
       border-radius:5px;
       padding:4px;
    }

dialog::backdrop {
    background: rgba(0,0,0,0.5);
    /*opacity: 0.5;*/
}



@media all and (max-width:825px){
    .section {
        width: 95%;
        max-width: 450px;
    }
}